[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = git@github.com:raspberrypi/pico-sdk.git
[submodule "lib/picodisplay-c-driver"]
	path = lib/picodisplay-c-driver
	url = git@github.com:inventor02/picodisplay-c-driver.git
